backend/akka/project/project/target/config-classes/$5ad7a488413b95be7c11.cache
backend/akka/project/project/target/config-classes/$5ad7a488413b95be7c11.class
backend/akka/project/project/target/config-classes/$5ad7a488413b95be7c11$.class
backend/akka/project/target/config-classes/$1a2422fa706970d47108.cache
backend/akka/project/target/config-classes/$1a2422fa706970d47108.class
backend/akka/project/target/config-classes/$1a2422fa706970d47108$.class
backend/akka/project/target/config-classes/$1bca052397b379aa2915.cache
backend/akka/project/target/config-classes/$1bca052397b379aa2915.class
backend/akka/project/target/config-classes/$1bca052397b379aa2915$.class
backend/akka/project/target/config-classes/$3d65d3f7a23f031e4041.cache
backend/akka/project/target/config-classes/$3d65d3f7a23f031e4041.class
backend/akka/project/target/config-classes/$3d65d3f7a23f031e4041$.class
backend/akka/project/target/config-classes/$846c97877e80838027d5.cache
backend/akka/project/target/config-classes/$846c97877e80838027d5.class
backend/akka/project/target/config-classes/$846c97877e80838027d5$.class
backend/akka/project/target/config-classes/$54286ca8f344b96e23c1.cache
backend/akka/project/target/config-classes/$54286ca8f344b96e23c1.class
backend/akka/project/target/config-classes/$54286ca8f344b96e23c1$.class
backend/akka/project/target/config-classes/$a95d509ab4fb51ddf32b.cache
backend/akka/project/target/config-classes/$a95d509ab4fb51ddf32b.class
backend/akka/project/target/config-classes/$a95d509ab4fb51ddf32b$.class
backend/akka/project/target/config-classes/$c8fd0c14e18415f0cfc7.cache
backend/akka/project/target/config-classes/$c8fd0c14e18415f0cfc7.class
backend/akka/project/target/config-classes/$c8fd0c14e18415f0cfc7$.class
backend/akka/project/target/config-classes/$c352cdd10a697d9d5c7c.cache
backend/akka/project/target/config-classes/$c352cdd10a697d9d5c7c.class
backend/akka/project/target/config-classes/$c352cdd10a697d9d5c7c$.class
backend/akka/project/target/config-classes/$c1009d56b08764a602d3.cache
backend/akka/project/target/config-classes/$c1009d56b08764a602d3.class
backend/akka/project/target/config-classes/$c1009d56b08764a602d3$.class
backend/akka/project/target/config-classes/$cdf608a5f3d6e5669e09.cache
backend/akka/project/target/config-classes/$cdf608a5f3d6e5669e09.class
backend/akka/project/target/config-classes/$cdf608a5f3d6e5669e09$.class
backend/akka/project/target/scala-2.12/sbt-1.0/sync/copy-resource
backend/akka/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
backend/akka/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
backend/akka/project/target/streams/_global/_global/_global/streams/out
backend/akka/project/target/streams/_global/csrConfiguration/_global/streams/out
backend/akka/project/target/streams/_global/csrProject/_global/streams/out
backend/akka/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
backend/akka/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
backend/akka/project/target/streams/_global/ivyConfiguration/_global/streams/out
backend/akka/project/target/streams/_global/ivySbt/_global/streams/out
backend/akka/project/target/streams/_global/moduleSettings/_global/streams/out
backend/akka/project/target/streams/_global/projectDescriptors/_global/streams/out
backend/akka/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
backend/akka/project/target/streams/_global/update/_global/streams/out
backend/akka/project/target/streams/compile/_global/_global/compileOutputs/previous
backend/akka/project/target/streams/compile/_global/_global/discoveredMainClasses/data
backend/akka/project/target/streams/compile/bspReporter/_global/streams/out
backend/akka/project/target/streams/compile/compile/_global/streams/out
backend/akka/project/target/streams/compile/compileIncremental/_global/streams/export
backend/akka/project/target/streams/compile/compileIncremental/_global/streams/out
backend/akka/project/target/streams/compile/copyResources/_global/streams/out
backend/akka/project/target/streams/compile/dependencyClasspath/_global/streams/export
backend/akka/project/target/streams/compile/exportedProducts/_global/streams/export
backend/akka/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
backend/akka/project/target/streams/compile/incOptions/_global/streams/out
backend/akka/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
backend/akka/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
backend/akka/project/target/streams/compile/managedClasspath/_global/streams/export
backend/akka/project/target/streams/compile/scalacOptions/_global/streams/out
backend/akka/project/target/streams/compile/unmanagedClasspath/_global/streams/export
backend/akka/project/target/streams/compile/unmanagedClasspath/_global/streams/out
backend/akka/project/target/streams/compile/unmanagedJars/_global/streams/export
backend/akka/project/target/streams/runtime/dependencyClasspath/_global/streams/export
backend/akka/project/target/streams/runtime/exportedProducts/_global/streams/export
backend/akka/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
backend/akka/project/target/streams/runtime/fullClasspath/_global/streams/export
backend/akka/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
backend/akka/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
backend/akka/project/target/streams/runtime/managedClasspath/_global/streams/export
backend/akka/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
backend/akka/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
backend/akka/project/target/streams/runtime/unmanagedJars/_global/streams/export
backend/akka/target/bg-jobs/sbt_db538751/job-1/target/a998da3b/4d2941a3/projet-akka_2.13-0.1.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/01cc8661/eb54169a/dotenv-java-3.0.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/0475a5dc/6755fb45/jackson-datatype-jdk8-2.14.3.jar
backend/akka/target/bg-jobs/sbt_db538751/target/0ec969cf/8190c972/akka-remote_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/0f3641a3/bd666bed/akka-parsing_2.13-10.5.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/1377bc64/48cb4425/jackson-core-2.14.3.jar
backend/akka/target/bg-jobs/sbt_db538751/target/1a928c21/7f1f76c4/akka-http_2.13-10.5.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/25a1a7de/1b00b79b/akka-persistence-typed_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/2e5d3317/ffe73536/scala-library-2.13.12.jar
backend/akka/target/bg-jobs/sbt_db538751/target/3125e07c/c6794a32/ssl-config-core_2.13-0.6.1.jar
backend/akka/target/bg-jobs/sbt_db538751/target/371167f5/18d44210/agrona-1.17.1.jar
backend/akka/target/bg-jobs/sbt_db538751/target/3f1af96f/7297e2c7/akka-pki_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/4701e56f/cfb072f4/play-json_2.13-2.10.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/4c5f38ff/046a10fd/reactive-streams-1.0.4.jar
backend/akka/target/bg-jobs/sbt_db538751/target/4e4f2205/501e6e6b/checker-qual-3.31.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/50551b84/40db4a31/scala-java8-compat_2.13-1.0.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/56fc841e/22143f8e/slick_2.13-3.4.1.jar
backend/akka/target/bg-jobs/sbt_db538751/target/6345aa1b/0dda047c/play-functional_2.13-2.10.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/658ca5d3/dfe9e616/jackson-datatype-jsr310-2.14.3.jar
backend/akka/target/bg-jobs/sbt_db538751/target/68a91228/d3cba4aa/akka-actor-typed_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/6f368248/367e8f20/slick-hikaricp_2.13-3.4.1.jar
backend/akka/target/bg-jobs/sbt_db538751/target/76ff225e/103362fb/akka-stream_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/772603fe/c501371b/akka-http-core_2.13-10.5.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/7cbde00d/9bb4432a/logback-classic-1.4.7.jar
backend/akka/target/bg-jobs/sbt_db538751/target/83836136/064b1a45/slf4j-api-2.0.4.jar
backend/akka/target/bg-jobs/sbt_db538751/target/91cb1c31/2c2ad0e2/akka-protobuf-v3_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/9d6c40c2/ec3cdce8/akka-persistence-jdbc_2.13-5.2.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/9e456cd7/8ba30f40/akka-slf4j_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/a43905c0/a5f4aeeb/jackson-annotations-2.14.3.jar
backend/akka/target/bg-jobs/sbt_db538751/target/a68bd119/b5e184b8/akka-actor_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/af3c9f8b/61cbdf05/jackson-databind-2.14.3.jar
backend/akka/target/bg-jobs/sbt_db538751/target/b8ed87e2/d95c66ac/postgresql-42.6.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/bc05d00b/bc20bcc6/config-1.4.2.jar
backend/akka/target/bg-jobs/sbt_db538751/target/da185094/862618c6/scala-collection-compat_2.13-2.8.1.jar
backend/akka/target/bg-jobs/sbt_db538751/target/dae20e1c/449c22ef/asn-one-0.6.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/e159600c/3ad748a5/akka-persistence_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/e5b6e481/a983b06d/akka-stream-typed_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/e89e4b8d/a348db3b/HikariCP-4.0.3.jar
backend/akka/target/bg-jobs/sbt_db538751/target/f5abf041/21b49b04/akka-persistence-query_2.13-2.8.0.jar
backend/akka/target/bg-jobs/sbt_db538751/target/f7bdd278/7d9bbb25/logback-core-1.4.7.jar
backend/akka/target/scala-2.13/projet-akka_2.13-0.1.0.jar
backend/akka/target/scala-2.13/classes/application.conf
backend/akka/target/scala-2.13/classes/cle_API.txt
backend/akka/target/scala-2.13/classes/projetAkka/Main.class
backend/akka/target/scala-2.13/classes/projetAkka/Main$.class
backend/akka/target/scala-2.13/classes/projetAkka/Main$delayedInit$body.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/AddStock.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/AddStock$.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/AddStockToPortfolio.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/AddStockToPortfolio$.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/CreatePortfolio.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/CreatePortfolio$.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/FetchMarketData.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/FetchMarketData$.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/GetPortfolio.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/GetPortfolio$.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/MarketDataActor.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/MarketDataActor$$anonfun$receive$1.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/PortfolioActor.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/PortfolioActor$$anonfun$receive$1.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/RemoveStock.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/RemoveStock$.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/RemoveStockFromPortfolio.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/RemoveStockFromPortfolio$.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/ShowPortfolio.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/ShowPortfolio$.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/UserActor.class
backend/akka/target/scala-2.13/classes/projetAkka/backend/actors/UserActor$$anonfun$receive$1.class
backend/akka/target/scala-2.13/sync/copy-resource
backend/akka/target/scala-2.13/update/update_cache_2.13/inputs
backend/akka/target/scala-2.13/update/update_cache_2.13/output
backend/akka/target/scala-2.13/zinc/inc_compile_2.13.zip
backend/akka/target/streams/_global/_global/_global/streams/out
backend/akka/target/streams/_global/cleanIvy/_global/streams/out
backend/akka/target/streams/_global/csrConfiguration/_global/streams/out
backend/akka/target/streams/_global/csrProject/_global/streams/out
backend/akka/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
backend/akka/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
backend/akka/target/streams/_global/ivyConfiguration/_global/streams/out
backend/akka/target/streams/_global/ivySbt/_global/streams/out
backend/akka/target/streams/_global/moduleSettings/_global/streams/out
backend/akka/target/streams/_global/projectDescriptors/_global/streams/out
backend/akka/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
backend/akka/target/streams/_global/update/_global/streams/out
backend/akka/target/streams/compile/_global/_global/compileOutputs/previous
backend/akka/target/streams/compile/_global/_global/discoveredMainClasses/data
backend/akka/target/streams/compile/bspReporter/_global/streams/out
backend/akka/target/streams/compile/compile/_global/streams/out
backend/akka/target/streams/compile/compileIncremental/_global/streams/export
backend/akka/target/streams/compile/compileIncremental/_global/streams/out
backend/akka/target/streams/compile/copyResources/_global/streams/out
backend/akka/target/streams/compile/dependencyClasspath/_global/streams/export
backend/akka/target/streams/compile/exportedProductJars/_global/streams/export
backend/akka/target/streams/compile/exportedProducts/_global/streams/export
backend/akka/target/streams/compile/externalDependencyClasspath/_global/streams/export
backend/akka/target/streams/compile/incOptions/_global/streams/out
backend/akka/target/streams/compile/internalDependencyClasspath/_global/streams/export
backend/akka/target/streams/compile/internalDependencyClasspath/_global/streams/out
backend/akka/target/streams/compile/mainClass/_global/streams/out
backend/akka/target/streams/compile/managedClasspath/_global/streams/export
backend/akka/target/streams/compile/packageBin/_global/streams/inputs
backend/akka/target/streams/compile/packageBin/_global/streams/out
backend/akka/target/streams/compile/packageBin/_global/streams/output
backend/akka/target/streams/compile/scalacOptions/_global/streams/out
backend/akka/target/streams/compile/unmanagedClasspath/_global/streams/export
backend/akka/target/streams/compile/unmanagedClasspath/_global/streams/out
backend/akka/target/streams/compile/unmanagedJars/_global/streams/export
backend/akka/target/streams/runtime/dependencyClasspathAsJars/_global/streams/export
backend/akka/target/streams/runtime/exportedProductJars/_global/streams/export
backend/akka/target/streams/runtime/externalDependencyClasspath/_global/streams/export
backend/akka/target/streams/runtime/fullClasspathAsJars/_global/streams/export
backend/akka/target/streams/runtime/internalDependencyAsJars/_global/streams/export
backend/akka/target/streams/runtime/internalDependencyAsJars/_global/streams/out
backend/akka/target/streams/runtime/managedClasspath/_global/streams/export
backend/akka/target/streams/runtime/unmanagedClasspath/_global/streams/export
backend/akka/target/streams/runtime/unmanagedClasspath/_global/streams/out
backend/akka/target/streams/runtime/unmanagedJars/_global/streams/export
backend/docker/deployment/.env
