.Nouvelle-info {
    background-color: #307dd6cc;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .Nouvelle-info:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .text-lg {
    font-size: 1.25rem;
    color: #f0f0f0;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .text-black-600 {
    color: #f0f0f0;
  }

  .card{
    border-bottom: 1px solid white;
    padding-left: 20px;
  }