.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 100%;
  color: #f0f0f0;
}


