.Board {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas:
    "navbar navbar"
    "sidebar main"
    "footer footer";
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

main {
  grid-area: main;
  background-color: #307dd6cc;
}

.footer {
  grid-area: footer;
  background-color: #9fb0c4cc;
}