html,body{
  margin: 0;
  padding: 0;
}

.Board {
  height: 100vh;
  display: grid;
  width: 100%;
  grid-template-areas:
    "navbar navbar"
    "card-container main"
    "footer footer";
  grid-template-rows: 50px auto 50px;
  background-image: url('../asset/img/backlogin.jpg');
  background-size: 100%;
}

main {
  grid-area: main;
  background-color: #021c3ad7;
  border-left: 1px solid #f0f0f0;
}

.footer {
  grid-area: footer;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-align: center;
  color: #f0f0f0;
  animation: fadeInBottom 0.5s ease;
}

.card-container {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  background-color: #001833cc;
  padding: 16px;
  animation: fadeInLeft 0.5s ease;
}

.chart-container{
  text-align: center;
}

.chart-container > canvas{
  margin-left: auto;
  margin-right: auto;
}

main{
  animation: fadeInRigth 0.5s ease;
}

.loding-chart{
  text-align: center;
  color: #f0f0f0;
}

.card-crypto{
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: rgba(0, 23, 87, 0);
  border-radius: 8px;
}

.card-crypto:hover{
  background-color: rgba(0, 23, 87, 0.673);
}


@keyframes fadeInLeft {
  from {
      opacity: 0.5;
      transform: translateX(-200px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInRigth {
  from {
      opacity: 0.5;
      transform: translateX(200px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  from {
      opacity: 0.5;
      transform: translateY(100px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}